<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/stylesUsuario.css}" rel="stylesheet"/>
    <title>Cadastro de Usuários</title>
</head>
<body>
<header>
    <h1>Cadastro de Usuários</h1>
</header>

<main>
    <section class="section-form">
        <div class="form-container">
            <h2>Preencha os dados</h2>
            <form id="usuarioForm" th:action="@{/usuarios}" th:object="${usuarioModel}" method="post">
                <label for="nomeProduto">Nome do Usuário:</label>
                <input type="text" id="nomeProduto" th:field="*{nomeUsuario}" required />
                <button id="salvarUsuario" type="submit">Salvar</button>
            </form>
        </div>
    </section>

    <section class="section-lista">
        <div class="lista-container">
            <h2>Usuários Cadastrados</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Usuário</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nomeUsuario}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="section-links">
        <a th:href="@{/orcamento/novo}" class="btn-link">Criar Novo Orçamento</a>
        <a th:href="@{/usuarios/pesquisa}" class="btn-link">Lista de Usuários</a>
    </section>
</main>

<script>
    document.getElementById("usuarioForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário

        var form = event.target;
        var formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        }).then(response => {
            if (response.ok) {
                window.location.href = "/usuarios/pesquisa";
                alert("Salvo com sucesso");
            } else {
                console.error("Erro ao salvar o usuário");
            }
        }).catch(error => {
            console.error("Erro ao salvar o usuário", error);
            alert("Erro ao salvar");
        });
    });
</script>
</body>
</html>
